.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info li {
    text-decoration: underline rgba(46, 45, 45, 0.799);
    list-style: none;
    margin: 10px;
    text-align: right;
}