.card {
    width: 600px;
    height: 170px;
    background: #00565e;
    border-radius: 20px;
    color: #ffffff;
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}